{% trans_default_domain 'damax-user' %}

{% set title = 'password.header.change' | trans %}

{% extends '@DamaxUser/layout.html.twig' %}

{% form_theme form '@DamaxUser/form_theme.html.twig' %}

{% block content %}
    <form class="box" method="post">
        {{ form_widget(form) }}

        <button class="button is-info is-large is-fullwidth">{{ 'password.button.change' | trans }}</button>
    </form>

    <p class="has-text-grey">
        <a href="{{ path('security_login') }}">{{ 'button.login' | trans }}</a>
    </p>
{% endblock %}
