{% trans_default_domain 'damax-user' %}

{% set title = 'profile.header.edit' | trans %}

{% extends '@DamaxUser/layout.html.twig' %}

{% form_theme form '@DamaxUser/form_theme.html.twig' %}

{% block content %}
    <form class="box" method="post">
        {{ form_widget(form) }}

        <button class="button is-info is-large is-fullwidth">{{ 'profile.button.save' | trans }}</button>
    </form>

    <p class="has-text-grey">
        <a href="{{ path('profile_view') }}">{{ 'button.cancel' | trans }}</a>
    </p>
{% endblock %}
