{% block subject %}Resetting Your Password{% endblock %}

{% block html %}
<p>We've received a request to reset your password. To proceed, click the link below.</p>
<p><a href="{{ url('password_reset', { token: token }) }}">Reset password</a></p>
<p>If you ignore this message, your password won't be changed.</p>
{% endblock %}

{% block text %}
We've received a request to reset your password.
To proceed, click the link below.

{{ url('password_reset', { token: token }) }}

If you ignore this message, your password won't be changed.
{% endblock %}
