{% block subject %}Resetting Your Password{% endblock %}

{% block html %}
<p>We've received a request to reset your password. To proceed, click the link below.</p>
<p><a>Reset password</a></p>
{% endblock %}

{% block text %}
We've received a request to reset your password.
To proceed, click the link below.

link
{% endblock %}
